# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://wnibwuhkstiluddlkwlv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InduaWJ3dWhrc3RpbHVkZGxrd2x2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzNjUzODcsImV4cCI6MjA3Njk0MTM4N30.2oiJVdIMpsVvtg7gRbs1zsc87waubUaZrcTh9-ah9-w

